@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 70%;
}

nav{
  height: 70px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
}

.nav-bar{
  display: flex;
  list-style: none;
  height: 100%;
  width: 60%;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  font-size: 15px;
}

.nav-bar li a{
  text-decoration: none;
  color: white;
  transition: all 0.3s ease 0s;
}

.nav-bar li a:hover{
  color: #03AC48;
}

.continent_img_box {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
  /*box-shadow: 0.5rem 0.5rem 2rem rgb(0, 0, 0);*/
  border-radius: 20px;
}

.continent_img_box img {
  width: 100%;
  height: 100%;
}

.europe-description{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 20px;
}

.europe-description h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #1ce73d;
}

.europe-description p{
  color: #E8E8E8;
  font-size: 120%;
}

.options_box {
  width: 40%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
}

.option {
  width: 150px;
  margin: 3px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  /*background: rgba(255, 255, 255, 0.5);*/
  background: none;
  color: white;
  border: 2px solid #010fd3;
  margin: 5px;
}

.option:hover {
  border: 2px solid #1ce73d;
}

.option a {
  text-decoration: none;
  color: white;
  padding: 20px;
  font-size: 15px;
}

/*Mobile View*/

@media screen and (max-width:430px){
  .container {
    position: fixed;
    top: 50px!important;
    left: 0;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .continent_img_box {
    width: 80%;
    height: 35%;
    margin: 0 auto;
    margin-bottom: 20px;
    /*box-shadow: 0.5rem 0.5rem 2rem rgb(0, 0, 0);*/
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .continent_img_box img {
    width: 100%;
    height: 100%;
  }
  
  .europe-description{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .europe-description h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1ce73d;
  }
  
  .europe-description p{
    color: #E8E8E8;
    font-size: 15px;
  }
  
  .options_box {
    position: absolute;
    top: 75vh;
    width: 90%;
    height: 8%;
    display: flex;
    flex-wrap: wrap;
    left: 5%;
    justify-content: space-around;
  }
  
  .option {
    width: 150px;
    padding: 14px;
    margin: 3px;
    text-align: center;
    border-radius: 20px;
    /*background: rgba(255, 255, 255, 0.5);*/
    background: none;
    color: white;
    border: 2px solid #1ce73d;
    margin: 5px;
  }
  
  .option:hover {
    border: 2px solid #006811;
  }
  
  .option a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 15px;
  }

  nav{
    height: 40px;
    position: absolute;
  }
  
  .nav-bar{
    cursor: pointer;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 10;
    flex-direction: column;
    clip-path: circle(100px at 90% -40%);
    -webkit-clip-path: circle(100px at 90% -40%);
    background-color: black;
    pointer-events: none;
    justify-content: flex-start;
  }
  
  .hamburger{
    position: absolute;
    z-index: 1111;
    background-color: none;
    width: 100%;
    height: 40px;
    text-align: right;
  }
  
  .hamburger i{
    z-index: 1111;
    cursor: pointer;
    color: white;
    font-size: 25px;
    padding-right: 20px;
    padding-top: 8px;
  }
  
  .nav-bar.open{
    clip-path: circle(100px at 90% -40%);
    -webkit-clip-path: circle(800px at 90% -40%);
    pointer-events: all;
    z-index: 10;
  
  }
  
  .nav-bar li a{
    color: white;
  }
  
  .nav-bar li{
    opacity: 0;
    padding: 15px 0;
  }
  
  
  .nav-bar li:nth-child(1){
    transition: all 0.3s ease 0.1s;
  }
  
  .nav-bar li:nth-child(2){
    transition: all 0.3s ease 0.2s;
  }
  
  .nav-bar li:nth-child(3){
    transition: all 0.3s ease 0.3s;
  }
  
  .nav-bar li:nth-child(4){
    transition: all 0.3s ease 0.4s;
  }
  
  .nav-bar li:nth-child(5){
    transition: all 0.3s ease 0.5s;
  }
  
  .nav-bar li:nth-child(6){
    transition: all 0.3s ease 0.6s;
  }
  
  .nav-bar li:nth-child(7){
    transition: all 0.3s ease 0.7s;
  }
  
  .nav-bar li:nth-child(8){
    transition: all 0.3s ease 0.8s;
  }
  
  .nav-bar li:nth-child(9){
    transition: all 0.3s ease 0.9s;
  }
  
  li.fade{
    opacity: 1;
  }
  
  .nav-bar li:first-child{
    padding-top: 50px;
  }
  
  
}



/*Desktop style*/
@media only screen and (min-width:961px){
  .hamburger{
     display: none;
  }
}
